html {
    background-color: coral
}

.header, .intro, .generate, .more-op, .words, #word-one, #word-two {
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
    text-align: center;
}

.words {
    display: flex;
}

#word-one, #word-two {
    text-transform: capitalize;
}